body {
	max-width: 1000px;
	margin: var(--universal-margin) auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body > hr,
body > div#global-stats {
	align-self: stretch;
}

div#global-stats {
	justify-content: center;
	margin-bottom: calc(1.5 * var(--universal-margin));
}

div.row[aria-label="Error"] {
	justify-content: center;
}

div.card.error pre {
	margin: var(--universal-margin) auto;
	white-space: pre-wrap;
}

div.card.error pre code {
	padding: 0;
}

table#leaderboard {
	max-height: none;
	margin: auto;
}

table#leaderboard th:first-child,
table#leaderboard td:first-child {
    flex: 2;
}
